extends layout

block content
    div
        h1= title
        p Welcome back  #{user}
        a(href='/') index
        br
        a(href='/account/users') visualizza utenti
        br
        a(href='/account/logout') logout
        br
        a(href='/account/upload') upload
