extends layout

block content
  div(style='margin-left:800px')
    a(href='/login') Login&nbsp;&nbsp;
    
    a(href='/register',style='margin-left=50px') Registrazione


  div
    h1= title
    p Welcome to #{title}
    a(href='/page-1') page1
    br
    br
    a(href='/page-2') page2  
     

