extends layout

block content
  div
    h1= title
    p Welcome to Login #{title}
    a(href='/') index

    
    h2 Login Form
    form( method='post', action='/account')

      
      input(type='text' placeholder='Enter email' name='uemail')
      
      input(type='password' placeholder='Enter Password' name='psw')
      button(type='submit') Login

